@font-face {
  font-family: 'Corsa Grotesk';
  src: url(../fonts/CorsaGrotesk-Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Corsa Grotesk';
  src: url(../fonts/CorsaGrotesk-Regular.ttf);
  font-weight: 400;
}
